<div>
  <label for="">Width</label>
  {{input value=flexItem.width}}
</div>

<ul>
  <li>Rendered Width: {{flexItem.dimensions.width}}</li>
  <li>Fixed Width: {{flexItem.hasFixedWidth}}</li>
</ul>

<button class="button-corner" {{action "delete"}}>Delete</button>
